---
import { Button } from "@workspace/ui/components/button"
---

<header
  class="sticky top-0 z-50 border-b-2 border-dotted border-border bg-card/50 backdrop-blur-md"
>
  <nav class="container mx-auto flex flex-row justify-between p-5">
    <a
      href="/"
      class="scroll-m-20 text-2xl font-extrabold tracking-tight text-balance text-primary"
    >
      SOLOTOREVSKY_GABRIEl
    </a>
    <div>
      <Button variant="ghost">
        <a href="/" class="text-base font-thin">INICIO</a>
      </Button>
      <Button variant="ghost">
        <a href="/sobre" class="text-base font-thin">SOBRE MI</a>
      </Button>

      <Button variant="ghost">
        <a href="/proyectos" class="text-base font-thin">PROYECTOS</a>
      </Button>

      <Button variant="ghost">
        <a href="/contactos" class="text-base font-thin">CONTACTOS</a>
      </Button>
    </div>
  </nav>
</header>
