---
import { Button } from "@workspace/ui/components/button"
---
<header class="sticky top-0 bg-card/50 backdrop-blur-md border-b-2 border-dotted border-border z-50">
	<nav class="flex flex-row p-5 mx-auto justify-between container" >
	<a href="/" class="scroll-m-20 font-mono text-2xl font-extrabold text-primary tracking-tight text-balance">
      SOLOTOREVSKY_GABRIEl
	</a>
	<div>
	<Button variant="ghost">
		<p class="font-mono text-base font-thin">INICIO</p>
	</Button>
	<Button variant="ghost">
		<p class="font-mono text-base font-thin">SOBRE MI</p>
	</Button>

	<Button variant="ghost">
		<p class="font-mono text-base font-thin">PROYECTOS</p>
	</Button>

	<Button variant="ghost">
		<p class="font-mono text-base font-thin">CONTACTOS</p>
	</Button>
	</div>
	</nav>
</header>
