---
import Main from "@/layouts/main.astro"
import Card from "@/components/card.astro"
import { Button } from "@workspace/ui/components/button"
import {
  HoverCard,
  HoverCardContent,
  HoverCardTrigger,
} from "@workspace/ui/components/hover-card"
import {
  ArrowRightIcon,
  ApertureIcon,
  CodeIcon,
  AtomIcon,
  RobotIcon,
  TimerIcon,
  CloudIcon,
  CpuIcon,
} from "@phosphor-icons/react"
---

<Main>
  <!-- Introduccion -->
  <div
    class="dotted-background flex min-h-svh w-full border-b-2 border-dotted py-32"
  >
    <div class="container mx-auto">
      <div class="md:flex justify-between">
        <div class="flex flex-col gap-6">
          <div
            class="w-fit border-2 border-dotted bg-accent/50 p-2 font-bold text-secondary-foreground uppercase"
          >
            <h1 class="text-center">¡Hola! Soy Gabriel Solotorevsky</h1>
          </div>
          <h1 class="text-5xl font-extrabold text-foreground uppercase">
            Desarrollador de software Full Stack
          </h1>
          <p
            class="mt-6 border-l-2 border-dotted pl-6 leading-relaxed text-muted-foreground italic"
          >
            Realicé
            <font class="text-lg font-extrabold">+60</font>
            proyectos publicados como Desarrollador de Software.<br />Mi
            formación técnica en Programación la refuerzo con <font
              class="text-lg font-extrabold">+5</font
            > años de aprendizaje autodidacta.<br />Construyo sistemas
            escalables con frameworks modernos y soluciones cloud-native.<br
            />Me desenvuelvo bien bajo presión, me adapto rápido a nuevas
            tecnologías y constantemente evoluciono mi forma de trabajar.
          </p>

          <Button
            className="w-fit border-2 border-dotted bg-primary p-7 text-lg text-primary-foreground uppercase hover:bg-primary/80"
          >
            <a href="/proyectos">Ver mis proyectos</a><ArrowRightIcon
              className="size-8"
            />
          </Button>
          <Button
            className="w-fit border-2 border-dotted bg-accent/50 p-7 text-lg text-secondary-foreground uppercase hover:bg-accent/30"
            variant="default"><a href="/contactos">Contactame</a></Button
          >
        </div>
        <div class="flex items-center">
          <div class="relative">
            <img
              src="/portada.jpeg"
              class="aspect-square w-full border-2 border-dotted object-cover p-2 lg:w-lg"
            />
            <ApertureIcon
              className="absolute -top-3 -left-3 rounded-full border-2 border-dotted bg-background fill-accent-foreground p-2"
              size="48"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Lo que hago -->
  <div class="py-20">
    <h1 class="text-center text-4xl font-extrabold uppercase">Lo que hago</h1>
    <div class="container mx-auto mt-10 grid md:grid-cols-3 gap-15">
      <!-- Desarrollo web -->
      <Card
        animate={true}
        className="relative w-fit border-2 border-dotted bg-card p-5"
      >
        <div slot="body">
          <CodeIcon
            className="mb-4 border-2 border-dotted bg-primary/10 fill-primary p-2"
            size="48"
          />
          <h2 class="mb-3 text-xl font-bold text-foreground uppercase">
            Desarrollo web
          </h2>
          <p class="text-muted-foreground">
            Realizo paginas web rapidas y adaptadas a las necesidades modernas
            utilizando Nuxt, Astro, Next.js, Vue, React y entre otras
            herramientas.
          </p>
        </div>

        <AtomIcon
          className="absolute -top-4 -left-4 rounded-full border-2 border-dotted bg-background fill-accent-foreground p-2"
          size="48"
          slot="lu-icon"
        />
      </Card>

      <!-- Automatizaciones -->
      <Card
        animate={true}
        className="relative w-fit border-2 border-dotted bg-card p-5"
      >
        <div slot="body">
          <RobotIcon
            className="mb-4 border-2 border-dotted bg-primary/10 fill-primary p-2"
            size="48"
          />
          <h2 class="mb-3 text-xl font-bold text-foreground uppercase">
            Automatizaciones
          </h2>
          <p class="text-muted-foreground">
            Realize automatizaciones con N8N y workers de varios lenguajes que
            aumentaron la calidad, eficiencia y alcance de los procesos que me
            presentaron.
          </p>
        </div>
        <TimerIcon
          className="absolute -bottom-4 left-1/2 -translate-x-1/2 transform rounded-full border-2 border-dotted bg-background fill-accent-foreground p-2"
          size="48"
          slot="cb-icon"
        />
      </Card>

      <!-- Devops -->
      <Card
        animate={true}
        className="relative w-fit border-2 border-dotted bg-card p-5"
      >
        <div slot="body">
          <CloudIcon
            className="mb-4 border-2 border-dotted bg-primary/10 fill-primary p-2"
            size="48"
          />
          <h2 class="mb-3 text-lg font-bold text-foreground uppercase">
            DevOps
          </h2>
          <p class="text-muted-foreground">
            Estoy acostumbrado a resolver problemas en servidores de Linux,
            locales, remotos o distribuidos.<br />Tengo experiencia en
            contenedores Docker y en Docker Compose.
          </p>
        </div>
        <CpuIcon
          className="absolute -top-4 -right-4 rounded-full border-2 border-dotted bg-background fill-accent-foreground p-2"
          size="48"
          slot="ru-icon"
        />
      </Card>
    </div>
  </div>
</Main>
