---
import "@workspace/ui/globals.css"
import Header from "@/components/header.astro"
import Footer from "@/components/footer.astro"
import { Toaster } from "@workspace/ui/components/sonner"
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Curriculum</title>
  </head>
  <body>

	  <Header/>
	  <slot />
	  <Footer/>
		  <Toaster client:load />
  </body>
</html>
